@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: calc(100%-120px);
  margin-inline: auto;
}

/*----------------------mediaQuery----------------------*/

/*----------------------mediaQuery----------------------*/

body {
  background: #f7f7f8;
  font-family: "Be Vietnam Pro", "sans-serif";
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .row {
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/*---------------------- header---------------------- */
.navbar {
  border-bottom: 1px solid #f1f1f3;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo img {
  width: 54px;
  height: 54px;
  padding: 1;
  border-radius: 8px;
  background: #ff9500;
}

.navbar nav ul {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 26px;
  padding-left: 50px;
}
.navbar nav a {
  color: #262626;
  font-family: "Be Vietnam Pro", "sans-serif";
  font-size: 1rem;
}
.navbar .active {
  border-radius: 8px;
  background: #f1f1f3;
  padding: 20%;
}
.navbar .auth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navbar .auth-button a:nth-child(1) {
  color: #262626;
  font-family: "Be Vietnam Pro", "sans-serif";
  font-size: 1rem;
}
.navbar .auth-button a:nth-child(2) {
  color: #fff;
  font-family: "Be Vietnam Pro", "sans-serif";
  font-size: 1rem;
  border-radius: 8px;
  padding: 14px 34px;
  background: #ff9500;
}
.navbar .side-bar {
  display: none;
}
/*---------------------- header---------------------- */

/*---------------------- hero-section---------------------- */

.hero-section {
  padding-top: 10%;
}
.hero-section .row {
  gap: 1.5rem;
  flex-wrap: wrap;
}
.sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  border: 1px solid #f1f1f3;
  background: #fcfcfd;
  padding: 2%;
  position: relative;
}

/*----------------*/
.hero-section .sub-container img:nth-child(1) {
  position: absolute;
  left: -30px;
  top: -25px;
}
/*----------------*/

.hero-section .sub-container img:nth-child(2) {
  padding: 14px;
  gap: 10px;
  border-radius: 6px;
  background: #fff4e5;
}

.hero-section .sub-container span {
  color: #ff9500;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.hero-section .sub-container h1,
.text-container p:nth-child(1) {
  color: #1a1a1a;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.hero-sectionv .text-container p:nth-child(1) {
  font-size: 38px;
  font-weight: 500;
}

.hero-section .text-container p:nth-child(2) {
  color: #262626;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 5%;
}

.hero-section .hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hero-section .hero-buttons a:nth-child(1) {
  color: #fff;
  font-family: "Be Vietnam Pro", "sans-serif";
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 1rem 24px;
  background: #ff9500;
}
.hero-section .hero-buttons a:nth-child(2) {
  color: #262626;
  font-family: "Be Vietnam Pro", "sans-serif";
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  padding: 1rem 24px;
  border: 1px solid #f1f1f3;
  background: #fff;
}
/*---------------------- hero-section---------------------- */

/*---------------------- up-mid---------------------- */
.up-mid {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.up-mid .row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  border-radius: 12px;
  border: 1px solid #f1f1f3;
  background: #fcfcfd;
  /*----------???------------*/
  width: 1200px;
  padding: 2%;
  gap: 40px;
  /*----------???------------*/
}
.line {
  width: 1px;
  height: 4.5rem;
  background: #f1f1f3;
}

/*---------------------- up-mid---------------------- */
